<mat-toolbar>
  <span>Sistema de recomendación</span>
</mat-toolbar>


<mat-grid-list cols="4" rowHeight="600px" [gutterSize]="'30px'">
  <mat-grid-tile style="margin-right: 20px;" [colspan]="2" >
    <div style="margin: 10px 10px 10px 10px">
      <span class="text--form">Ingreso del cultivo </span>
      <p>A través del ingeso de los datos del cultivo se puede conocer si este es propicio para el cultivo de plátano y su similitud con suelos enfocados al cultvio de plátano</p>
      <form [formGroup]="cropToRecommender" (submit)="sendCrop()">

        <mat-form-field class="field" appearance="fill">
          <mat-label>pH</mat-label>
          <input matInput formControlName="ph">
          <mat-error *ngIf="cropToRecommender.get('ph')?.hasError('required') && cropToRecommender.get('ph')?.touched">
            Ingrese el pH del terreno
          </mat-error>
        </mat-form-field>

        <mat-form-field class="field" appearance="fill">
          <mat-label>Fosforo</mat-label>
          <input matInput formControlName="fosforo">
          <span matSuffix>mg/kg</span>
          <mat-error *ngIf="cropToRecommender.get('fosforo')?.hasError('required') && cropToRecommender.get('fosforo')?.touched">
            Ingrese el fosforo del terreno
          </mat-error>
        </mat-form-field>

        <mat-form-field  class="field" appearance="fill">
          <mat-label>Aluminio</mat-label>
          <input matInput formControlName="aluminio">
          <span matSuffix>cmol(+)/kg</span>
          <mat-error *ngIf="cropToRecommender.get('aluminio')?.hasError('required') && cropToRecommender.get('aluminio')?.touched">
            Ingrese el aluminio del terreno
          </mat-error>
        </mat-form-field>

        <mat-form-field class="field"  appearance="fill">
          <mat-label>Calcio</mat-label>
          <input matInput formControlName="calcio">
          <span matSuffix>cmol(+)/kg</span>
          <mat-error *ngIf="cropToRecommender.get('calcio')?.hasError('required') && cropToRecommender.get('calcio')?.touched">
            Ingrese el calcio del terreno
          </mat-error>
        </mat-form-field>

        <mat-form-field class="field"  appearance="fill">
          <mat-label>Potasio</mat-label>
          <input matInput formControlName="potasio">
          <span matSuffix>cmol(+)/kg</span>
          <mat-error *ngIf="cropToRecommender.get('fosforo')?.hasError('required') && cropToRecommender.get('potasio')?.touched">
            Ingrese el potasio del terreno
          </mat-error>
        </mat-form-field>

        <mat-form-field class="field"  appearance="fill">
          <mat-label>sodio</mat-label>
          <input matInput formControlName="sodio">
          <span matSuffix>cmol(+)/kg</span>
          <mat-error *ngIf="cropToRecommender.get('sodio')?.hasError('required') && cropToRecommender.get('sodio')?.touched">
            Ingrese el sodio del terreno
          </mat-error>
        </mat-form-field>

        <mat-form-field class="field"  appearance="fill">
          <mat-label>zinc</mat-label>
          <input matInput formControlName="zinc">
          <span matSuffix>mg/kg</span>
          <mat-error *ngIf="cropToRecommender.get('zinc')?.hasError('required') && cropToRecommender.get('zinc')?.touched">
            Ingrese el zinc del terreno
          </mat-error>
        </mat-form-field>

        <button style="margin-left: 10px;" mat-raised-button color="primary" type="submit" [disabled]="cropToRecommender.invalid">Ingresar</button>

      </form>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2">

    <div class="text--response" *ngIf="similarity;else noSimilarity">
      <div>
        <div style="display: flex; justify-content: center; margin-bottom: 10px;">
          <img src="./../../../assets/images/logo.png" class="logo--img">
        </div>

        <div style="margin-top: 5px;">
          <span>El terreno tiene una similitud del {{similarity}} % con los requerimientos edáficos del plátano </span>

          <div style="margin-top: 5px;display: flex; justify-content: center;">
            <div *ngIf="isPosible; else noPosible" >
              <span style="color: #37b337; margin-top: 5px; margin-bottom: 5px;">por lo tanto, el terreno es adeacuado para el cultivo de plátano </span>

              <div style="margin: 20px 20px 20px 20px;">
                <span>Los terrenos más similares de acuerdo al sistema de recomendación son los siguientes : </span>
                <div *ngFor="let crops of mostSimilarCrops">
                  <p style="margin-top: 3px; font-size: small; color: gray; font-style: italic;"> * Fosforo : {{crops.fosforo}} - Aluminio : {{crops.aluminio}} - Calcio : {{crops.calcio}} - Potasio : {{crops.potasio}} - Sodio : {{crops.sodio}}  - Zinc : {{crops.zinc}} </p>
                </div>
              </div>

              <div style="margin: 20px 20px 20px 20px; float: right;">
                <span style="color: #37b337;">El tipo recomendado de plátano es : {{recomendedType}}</span>
              </div>

            </div>

            <ng-template #noPosible>
              <span style="color: red">El terreno no es propicio para cultivar plátano </span>
            </ng-template>
          </div>
        </div>

      </div>
    </div>

    <ng-template #noSimilarity>
      <div>
        <div style="display: flex; justify-content: center;">
          <img src="./../../../assets/images/logo.png" class="logo--img">
        </div>
        <div style="margin-top: 5px;">
          <span style="font-weight: bold;">En este lugar se presentará la información sobre la similtud del terreno con los requerimientos edáficos del plátano</span>
        </div>
      </div>
    </ng-template>


  </mat-grid-tile>
</mat-grid-list>

<footer style="display: flex; justify-content: center;" >
  <span style="color: gray;">Sistema de recomendación para el cultivo de plátano  - V1</span>
</footer>
