/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: black }


.green-plantain{
  background: #37b337;
}

.red-warning{
  background: #bd2020;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
